[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deconstructSigs"]
	path = deconstructSigs
	url = https://github.com/raerose01/deconstructsigs
